body{
	background-color: cyan;
}
h1{
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 700;
	font-size: 72px;
	text-align: center;
	text-shadow: 100px 70px 3px yellow, -100px -70px 3px blue;
	letter-spacing: 15px;
	padding-top: 70px;
}
img{
	margin-left: 5%;
}
.link p{
	font-family: Mariupol;
	font-weight: 700;
	font-size: 40px;
	text-align: center;
}
.through {
	text-decoration-line: line-through;
	text-transform: lowercase;
}
.undercase {
	text-transform: uppercase;
	color: red;
}
.link a{
	margin: 40px;
	font-weight: 700;
	font-size: 25px;
	line-height: 2;
}
.red{
	color: red;
}
.blue{
	color: blue
}
.yellow{
	color: yellow;
}
.text-first{
	font-family: Mariupol;
	font-weight: 700;
}
.text-second{
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
p .text-second,.blue {
	letter-spacing: 3px;
}
p .text-second,.red{
	text-transform: capitalize;
} 
div>p{
	line-height: 1.5;
}

.underline {
text-decoration: underline;
}
ul{
	margin: 20px 0 20px 100px;
	line-height: 1.2;
}
li{
	margin-top: 10px;
}
.italic {
	font-style: italic;
	font-weight: 700;
	font-size: 20px;
}
.italic span{
	color: green;
	font-style: normal;
}
h2{
	font-family: Mariupol;
	font-weight: 700;
	word-spacing: 7px;
	font-size: 22px;
	text-align: right;
	margin: 30px 0 30px;
	color: crimson;
}
.part-two p{
	margin-left: 200px;
	margin-right: 200px;
}
footer{
	margin-top: 50px;
	padding-top: 50px;
	height: 100px;
	background-color: black;
	color: white;
	word-spacing: 20px;
	letter-spacing: 3px;
	text-align: center;
}
